.footer {
    background-color: #D3D3D3;
    padding: 20px;
    text-align: center;
    color: #000000;
    font-size: 15px;
    font-weight: bold;
    margin-top: 20px;
}

.footer a {
    color: #000000;
}